---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList.astro";

const response = await fetch("http://localhost:8000/api/blogs");
const blogs = await response.json();
---

<BaseLayout>
  <h1>SnowBlog</h1>
  <BlogList {blogs} />
</BaseLayout>
